In [1]:
#Fibonacci y los conejos
#1 par de conejos tienen 1 vez al més 1 par de crias que serán fértiles en 1 més
#Comenzamos con 1 pareja y ninguno se muere
#Cuantas parejas en n años?

In [2]:
#Toma datos e inicializacion de conejos
parejas_totales = 1
parejas_anteriores = 0
anyos = int(input("Introduce años a calcular"))
meses = anyos * 12

Introduce años a calcular 6

In [3]:
#En los meses que tienen los años a calcular añadimos a los conejos del mes anterior (parejas_totales) los del anterior al anterior (parejas_anteriores)
for reproducen in range (1,meses+1):
    parejas_totales = parejas_totales + parejas_anteriores
    parejas_anteriores = parejas_totales - parejas_anteriores
    print ("Parejas en ",reproducen,"mes son",parejas_totales)
print ("-----------------------------")
print ("Parejas en ",anyos,"años son",parejas_totales)

Parejas en  1 mes son 1
Parejas en  2 mes son 2
Parejas en  3 mes son 3
Parejas en  4 mes son 5
Parejas en  5 mes son 8
Parejas en  6 mes son 13
Parejas en  7 mes son 21
Parejas en  8 mes son 34
Parejas en  9 mes son 55
Parejas en  10 mes son 89
Parejas en  11 mes son 144
Parejas en  12 mes son 233
Parejas en  13 mes son 377
Parejas en  14 mes son 610
Parejas en  15 mes son 987
Parejas en  16 mes son 1597
Parejas en  17 mes son 2584
Parejas en  18 mes son 4181
Parejas en  19 mes son 6765
Parejas en  20 mes son 10946
Parejas en  21 mes son 17711
Parejas en  22 mes son 28657
Parejas en  23 mes son 46368
Parejas en  24 mes son 75025
Parejas en  25 mes son 121393
Parejas en  26 mes son 196418
Parejas en  27 mes son 317811
Parejas en  28 mes son 514229
Parejas en  29 mes son 832040
Parejas en  30 mes son 1346269
Parejas en  31 mes son 2178309
Parejas en  32 mes son 3524578
Parejas en  33 mes son 5702887
Parejas en  34 mes son 9227465
Parejas en  35 mes son 14930352
Parejas en  36 mes son 24157817
Parejas en  37 mes son 39088169
Parejas en  38 mes son 63245986
Parejas en  39 mes son 102334155
Parejas en  40 mes son 165580141
Parejas en  41 mes son 267914296
Parejas en  42 mes son 433494437
Parejas en  43 mes son 701408733
Parejas en  44 mes son 1134903170
Parejas en  45 mes son 1836311903
Parejas en  46 mes son 2971215073
Parejas en  47 mes son 4807526976
Parejas en  48 mes son 7778742049
Parejas en  49 mes son 12586269025
Parejas en  50 mes son 20365011074
Parejas en  51 mes son 32951280099
Parejas en  52 mes son 53316291173
Parejas en  53 mes son 86267571272
Parejas en  54 mes son 139583862445
Parejas en  55 mes son 225851433717
Parejas en  56 mes son 365435296162
Parejas en  57 mes son 591286729879
Parejas en  58 mes son 956722026041
Parejas en  59 mes son 1548008755920
Parejas en  60 mes son 2504730781961
Parejas en  61 mes son 4052739537881
Parejas en  62 mes son 6557470319842
Parejas en  63 mes son 10610209857723
Parejas en  64 mes son 17167680177565
Parejas en  65 mes son 27777890035288
Parejas en  66 mes son 44945570212853
Parejas en  67 mes son 72723460248141
Parejas en  68 mes son 117669030460994
Parejas en  69 mes son 190392490709135
Parejas en  70 mes son 308061521170129
Parejas en  71 mes son 498454011879264
Parejas en  72 mes son 806515533049393
-----------------------------
Parejas en  6 años son 806515533049393